@charset "UTF-8";
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Code+Pro:wght@300&display=swap");
/*font-family: 'Source Code Pro', monospace; 
font-family: 'Lato', sans-serif;
*/
@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/footer.css");
@import url("../css/classes.css");
@import url("../css/all.css");
@font-face {
  font-family: "сenturygothic";
  src: url("../fonts/centurygothic_bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "сenturygothic";
  src: url("../fonts/centurygothic.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 16px;
  font-family: "сenturygothic";
  color: #424146;
  font-weight: 400;
}
body.lock {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.footer-top {
  background: #414146;
  padding: 30px 0;
}
.footer-top__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 95px 40% 95px 25%;
  grid-template-columns: 30% 40% 25%;
  grid-column-gap: 95px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1455px;
  padding: 0px 30px;
  margin: 0 auto;
}
@media (max-width: 1614px) {
  .footer-top__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: 50% 60px 50%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 60px;
  }
}
@media (max-width: 1516px) {
  .footer-top__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-column-gap: 0px;
  }
}

@media (max-width: 1614px) {
  .about-us {
    margin-bottom: 120px;
  }
}
.about-us__maintitle {
  margin-bottom: 60px;
}
.about-us__maintext {
  line-height: 21px;
  color: #fff;
  font-family: "сenturygothic";
  font-size: 13px;
  margin-bottom: 64px;
}
.about-us__link {
  margin-bottom: 54px;
}
.about-us__title {
  margin-bottom: 27px;
}
.about-us__images img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 5px;
}
.about-us__images img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.tweets {
  font-family: "сenturygothic";
  color: #fff;
}
@media (max-width: 1614px) {
  .tweets {
    margin-bottom: 120px;
  }
}
.tweets__maintitle {
  margin-bottom: 20px;
}
.tweets__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/footer/icons/twits.png") no-repeat left;
  padding-left: 40px;
  padding-bottom: -5px;
  margin-bottom: 37px;
}
.tweets__text {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 26px;
}
.tweets__text span {
  color: #ffea00;
}
.tweets__ago {
  font-size: 10px;
  color: #ffea00;
}
.tweets__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .tweets__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tweets__title {
  margin-right: 10px;
}
.tweets__images img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 22px;
  height: 22px;
}
.tweets__images img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contacts {
  font-family: "сenturygothic";
  color: #fff;
}
.contacts__maintitle {
  margin-bottom: 64px;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 0px 5px 50px;
  margin-bottom: 43px;
}
.contacts__item:last-child {
  margin-bottom: 0px;
}
.contacts__item span {
  font-style: normal;
}
.contacts__item-address {
  background: url("../img/footer/icons/address.png") no-repeat left top;
}
.contacts__item-phone {
  background: url("../img/footer/icons/phone.png") no-repeat left top;
}
.contacts__item-email {
  background: url("../img/footer/icons/email.png") no-repeat left top;
}
.contacts__item-email .contacts__link {
  color: #ffea00;
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__label {
  margin-right: 5px;
}
.contacts__text {
  line-height: 21px;
}
.contacts__title {
  margin-bottom: 37px;
}
.contacts__description {
  margin-bottom: 32px;
  line-height: 21px;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__button {
  margin-top: 4px;
}
.contacts__button img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contacts__button img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-bottom {
  background: #000;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.footer-bottom__container {
  max-width: 885px;
  margin: 0 auto;
  padding: 0px 30px;
}
.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 80px;
  height: 100%;
}
.footer-bottom__link {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}